.popup__button {
  border: none; 
  outline: none; 
  background-color: #000000;
  border-radius: 2px;
  color: #ffffff;
  margin-top: 48.35px;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  min-width: 358px;
  min-height: 50px;
}

.popup__button:hover {
  transition: opacity 0.3s;
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 619px) {
  .popup__button {
    min-width: 238px;
    min-height: 46px;
    margin: 45px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}  