.profile__info {
  display: grid;
  grid-template-columns: max-content 24px;
  column-gap: 17px;
  grid-template-rows: minmax(34px, 56px);
  margin: 18px 0 25px 0;
}

@media screen and (max-width: 920px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
  }
}

@media screen and (max-width: 619px) {
  .profile__info {
    margin: 18px 0 36px 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    column-gap: 0;
  }
}
