.popup__close {
  background: transparent;
  background-image: url('../../../images/popup_close_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -45.55px;
  right: -45.55px;
  padding: 0;
  border: none;
  outline: none;
  min-width: 57.56px;
  padding-top: 57.56px;
}

.popup__close:hover {
  transition: opacity 0.3s;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 619px) {
  .popup__close {
    min-width: 22px;
    padding-top: 22px;
    top: -43px;
    right: 7px;
    background-size: cover;
  }   
}

