.profile__button-add-images {
  min-width: 150px;
  min-height: 50px;
  background-image: url('../../../images/profile_plus.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
  padding: 0;
  background-size: 22px;
}

.profile__button-add-images:hover {
  border-radius: 1px;
  transition: opacity 0.3s;
  opacity: 0.6;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 920px) {
  .profile__button-add-images {
    min-width: 100px;  
    background-size: 16px;
  }
}


@media screen and (max-width: 619px) {
  .profile__button-add-images {
    min-width: 282px;
    margin: 0 19px;
   
  }
} 

